body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(100, 30, 100);
}
.contanier{
   
    flex-wrap: wrap;
    width: 100%;
}
form{
    flex-wrap: wrap;
    margin-top: 200px;
}
form input{
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
 width: 400px;
 padding: 10px;
   
}
textarea{
    flex-wrap: wrap;
    margin-right: 100px;
}